.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.Cell-lit {
  background-color: white;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(255, 0, 255),
    inset -20px 0 80px rgb(255, 0, 255), inset 20px 0 300px rgb(255, 0, 255),
    inset -20px 0 300px rgb(255, 0, 255);
  transition: all 0.4s;
}
